﻿@model Otus.Teaching.Pcf.Dictionary.Services.DTOs.PreferenceDTO

@{
	ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>Предпочтение</h4>
<hr />
<div class="row">
 <div class="col-md-4">
  <form asp-action="Edit">
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <div class="form-group">
	<label asp-for="Name" class="control-label"></label>
	<input asp-for="Name" class="form-control" />
	<span asp-validation-for="Name" class="text-danger"></span>
	<input asp-for="Id" class="form-control" type="hidden" />
   </div>
   <div class="form-group">
	<input type="submit" value="Save" class="btn btn-primary" />
   </div>
  </form>
 </div>
</div>

<div>
 <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
