﻿@model IEnumerable<Otus.Teaching.Pcf.Dictionary.Services.DTOs.PreferenceDTO>

@{
	ViewData["Title"] = "Preferences";
}

<h1>Справочник предпочтений</h1>

<p>
 <a asp-action="Create">Создать новый</a>
</p>
<table class="table table-striped">
 <thead>
  <tr>
   <th>
				@Html.DisplayNameFor(model => model.Name)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.Id)
   </th>
   <th></th>
  </tr>
 </thead>
 <tbody>
		@foreach (var item in Model)
		{
	  <tr>
	   <td>
					@Html.DisplayFor(modelItem => item.Name)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.Id)
	   </td>
	   <td>
					@Html.ActionLink("Изменить", "Edit", new {  id=item.Id  }) |
					@Html.ActionLink("Удалить", "Delete", new { id=item.Id  })
	   </td>
	  </tr>
		}
 </tbody>
</table>
